.quote {
  background: linear-gradient($dark-2, $dark-4);
}

.quote-container {
  background: $dark-3;
  box-shadow:
    rgba(#000, 0.25) 0 0 1rem,
    inset rgba(#000, 0.35) 0 0 1rem;
}

.quote-text {
  text-shadow: rgba(#fff, 35%) 0 0 1rem;
  font-size: fluid-rem(0.8rem, 1rem, 360, 768);
  @media (min-width: 1024px) {
    font-size: fluid-rem(0.7rem, 1rem, 1024, 1920);
  }
}
