@import "../../../styles/_variables.scss";

.management-section {
  & > div {
    aspect-ratio: 1 / 1;
    background: linear-gradient($dark-2, $dark-4);
    border-radius: 1.5rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: -1px;
      background: linear-gradient(
        45deg,
        $border-gradient-1,
        $border-gradient-2
      );
      z-index: -1;
      border-radius: 1.5rem;
      padding: 1px;
    }
  }
}
