.notes-widget {
  background: linear-gradient($dark-2, $dark-4);
  &__body {
    background: linear-gradient(-25deg, #111e25, $dark-3);
    box-shadow:
      rgba(#000, 25%) 0 0 0.75rem,
      inset rgba(#000, 25%) 0 0 0.5rem;
    font-size: clamp(0.65rem, 0.5404rem + 0.4872vw, 1.125rem);
    max-height: 40%;

    @media (min-width: 768px) {
      font-size: fluid-rem(1rem, 0.8rem, 768, 1920);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: $space-s;
    font-size: fluid(7, 30);

    &-text {
      opacity: 70%;
    }

    svg {
      width: fluid(12, 18);
      height: fluid(12, 18);
    }
  }
}
