@import "../../../styles/_variables.scss";

.notes-widget {
  &__body {
    background: linear-gradient(-25deg, #111e25, $dark-3);
    box-shadow: rgba(#000, 25%) 0 0 0.75rem, inset rgba(#000, 25%) 0 0 0.5rem;
  }

  .notes-widget__item--updated .notes-widget__item-icon {
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 1px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: $space-s;
    font-size: 0.5rem;

    &-text {
      opacity: 70%;
    }

    &-icon {
      width: 0.75rem;
      height: 0.75rem;
    }
  }
}
