.notes-widget {
  &__body {
    background: linear-gradient(-25deg, #111e25, $dark-3);
    box-shadow:
      rgba(#000, 25%) 0 0 0.75rem,
      inset rgba(#000, 25%) 0 0 0.5rem;
    font-size: clamp(0.65rem, 0.5404rem + 0.4872vw, 1.125rem);
    max-height: 40%;
  }

  .notes-widget__item--updated .notes-widget__item-icon {
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 1px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: $space-s;
    font-size: fluid(7, 10);

    &-text {
      opacity: 70%;
    }

    &-icon {
      width: fluid(12, 18);
      height: fluid(12, 18);
    }
  }
}
