@import "../../../styles/_variables.scss";

.next-task {
  padding: $space-m $space-xl;

  &__divider {
    background: linear-gradient($accent-1, $accent-1-gradient-blue);
    box-shadow: rgba($accent-1, 25%) 0 0 0.5rem;
  }

  &__text {
    color: $accent-2;
    text-shadow: rgba($accent-2, 25%) 0 0 0.6rem;
  }
}
