@import "./_variables.scss";

body {
  font-family: "Montserrat";
  color: #fff;
}

#root {
  h1 {
    line-height: 1.15;
  }
}

header {
  border-bottom: 1px $dark-2 solid;
}

.welcome {
  .left {
    background: linear-gradient(90deg, rgba(#fff, 0) 0%, #fff 100%);
  }

  .right {
    background: linear-gradient(90deg, #fff 0%, rgba(#fff, 0) 100%);
  }

  &-text::before {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: $space-m;
    padding: 1px;
    background: linear-gradient(
      90deg,
      #fff 0%,
      rgba(#fff, 0) 25%,
      rgba(#fff, 0) 75%,
      #fff 100%
    );
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }
}

.title {
  font-size: clamp(0.5rem, 4vw, 1.5rem);
  font-weight: 600;
  text-shadow: rgba(#fff, 25%) 0 0 0.5rem;
}

.label {
  font-size: clamp(0.2rem, 2vw, 1rem);
  opacity: 40%;
}
