body {
  font-family: "Montserrat";
  color: #fff;
}

#root {
  h1 {
    line-height: 1.15;
  }
}

header {
  border-bottom: 1px $dark-2 solid;

  @media (min-width: 768px) {
    border-right: 1px $dark-2 solid;
    border-bottom: none;
    background: #090d0f;
  }
}

.welcome {
  .left {
    background: linear-gradient(90deg, rgba(#fff, 0) 0%, #fff 100%);
  }

  .right {
    background: linear-gradient(90deg, #fff 0%, rgba(#fff, 0) 100%);
  }

  &-text::before {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: $space-m;
    padding: 1px;
    background: linear-gradient(
      90deg,
      #fff 0%,
      rgba(#fff, 0) 25%,
      rgba(#fff, 0) 75%,
      #fff 100%
    );
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }
}

.title {
  font-size: fluid-rem(0.9rem, 2rem, 360, 768);
  font-weight: 600;
  text-shadow: rgba(#fff, 25%) 0 0 0.5rem;

  @media (min-width: 768px) {
    font-size: fluid-rem(1.25rem, 2rem, 768, 1920);
  }
}

.label {
  font-size: fluid-rem(0.5rem, 1rem, 360, 768);
  opacity: 40%;
  @media (min-width: 768px) {
    font-size: fluid-rem(0.8rem, 1rem, 768, 1920);
  }
}

.widget-header {
  .title {
    grid-area: 1 / 1 / 2 / 2;
  }

  .label {
    grid-area: 2 / 1 / 2 / 2;
  }

  .icon {
    grid-area: 1 / 2 / 3 / 3;
    width: fluid(21, 45);
  }
}

.logo {
  .logo__text {
    font-size: clamp(0.875rem, 0.723rem + 0.647vw, 1.5rem);
  }

  .logo__icon {
    width: clamp(1.188rem, 1.036rem + 0.647vw, 1.813rem);
  }
}

.rounded-widget {
  border-radius: fluid-rem(1rem, 1.875rem, 360, 768);
}
