@import "./_variables.scss";

body {
    font-family: "Montserrat";
    color: #fff;
}

#root {
    h1 {
        line-height: 1.15;
    }
}

.logo {
    display: flex;
    justify-content: stretch;
    align-items: center;

    h3 {
        font-size: clamp(0.6rem, 3.4vw, 1.5rem);
        color: $accent-2;
        text-shadow: rgba($accent-2, 0.25) 0 0 10px;
    }

    .logo-img {
        height: 1.5rem;
        width: 1.5rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background: none;
    border: none;

    div {
        width: 1.1rem;
        height: 2px;
        border-radius: 1rem;
        background: #ccc;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px $dark-2 solid;
    min-height: 5vh;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $space-2xl 0 1.95rem;
    text-align: center;

    .left,
    .right {
        height: 1px;
        flex: 1;
    }

    .left {
        background: linear-gradient(90deg, rgba(#fff, 0) 0%, #fff 100%);
    }

    .right {
        background: linear-gradient(90deg, #fff 0%, rgba(#fff, 0) 100%);
    }

    &-text {
        padding: 0.4rem $space-2xl;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: -1px;
            border-radius: $space-m;
            padding: 1px;
            background: linear-gradient(
                90deg,
                #fff 0%,
                rgba(#fff, 0) 25%,
                rgba(#fff, 0) 75%,
                #fff 100%
            );
            mask: linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
        }
    }
}

.title {
    font-size: clamp(0.5rem, 4vw, 1.5rem);
    font-weight: 600;
    text-shadow: rgba(#fff, 25%) 0 0 0.5rem;
}

.label {
    font-size: clamp(0.2rem, 2vw, 1rem);
    opacity: 40%;
}
