.home-page {
  background: linear-gradient(#0a0e10, #000507);
  width: 100%;
  min-height: 100vh;
}

.home-page__inner {
  padding: 0 1.5rem;

  @media (min-width: 1640px) {
    margin-left: 13rem;
  }
}
