@import "../../../styles/_variables.scss";

.tasks-widget {
    padding: $space-xl;
    padding-bottom: $space-l;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        justify-content: space-between;
        align-items: center;

        .tasks-widget__title {
            grid-area: 1 / 1 / span 1 / span 1;
        }

        .tasks-widget__label {
            grid-area: 2 / 1 / span 1 / span 1;
        }

        .tasks-widget__icon {
            grid-area: 1 / 2 / 3 / 3;
            width: 1.8rem;
            height: 1.8rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
    }

    &__list {
        margin: 0;
        list-style-type: none;
        padding: 0;
    }

    &__item {
        font-size: clamp(0.3rem, 2.5vw, 1rem);
        text-indent: 3vw;
        line-height: 1.5;
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: clamp(0.2rem, 1.2vw, 1rem);
            height: clamp(0.2rem, 1.2vw, 1rem);
            background: $accent-2;
            top: 50%;
            left: 0;
            translate: 0 -50%;
            border-radius: 1rem;
        }

        &::before {
            opacity: 0.7;
            filter: blur(0.2rem);
        }
    }

    &__tip {
        font-size: 0.4rem;
        opacity: 40%;
        text-align: center;
    }
}
