.tasks-widget {
  &__item {
    font-size: fluid(9, 16);

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      background: $accent-2;
      top: 50%;
      left: 0;
      translate: 0 -50%;
      border-radius: 1rem;
    }

    &::before {
      opacity: 0.7;
      filter: blur(0.2rem);
    }
  }
}
