@import "../../../styles/_variables.scss";

.tasks-widget {
  .tasks-widget__title {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  .tasks-widget__label {
    grid-area: 2 / 1 / span 1 / span 1;
  }

  .tasks-widget__icon {
    grid-area: 1 / 2 / 3 / 3;
  }

  &__item {
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: clamp(0.2rem, 1.2vw, 1rem);
      height: clamp(0.2rem, 1.2vw, 1rem);
      background: $accent-2;
      top: 50%;
      left: 0;
      translate: 0 -50%;
      border-radius: 1rem;
    }

    &::before {
      opacity: 0.7;
      filter: blur(0.2rem);
    }
  }
}
