@import "../../../styles/_variables.scss";

.overview {
    padding: $space-xl;

    &__header {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        justify-content: space-between;
        align-items: center;

        .overview-widget__title {
            grid-area: 1 / 1 / span 1 / span 1;
        }

        .overview-widget__label {
            grid-area: 2 / 1 / span 1 / span 1;
        }

        .overview-widget__icon {
            grid-area: 1 / 2 / 3 / 3;
            width: 1.8rem;
            height: 1.8rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
