.overview {
  background: linear-gradient($dark-2, $dark-4);
  .item-title {
    font-size: clamp(0.7rem, 0.5731rem + 0.5641vw, 1.25rem);
  }

  &-large__graph {
    height: fluid-rem(12rem, 15rem, 768, 1920);
  }

  .progress-bar {
    background: linear-gradient(90deg, #294250, $accent-2);
  }

  .battery {
    box-shadow: rgba(#fff, 30%) 0 0 0.5rem;
  }

  .battery-progress {
    background: linear-gradient($accent-1-gradient-blue, $accent-1);
    box-shadow:
      rgba(#fff, 30%) 0 0 0.5rem,
      inset rgba(0, 0, 0, 0.5) 0 0 1rem;
  }

  .review {
    border: rgba($accent-2, 50%) 2px solid;
    font-size: fluid-rem(0.7rem, 1rem, 360, 768);
    font-weight: 600;
    background: $dark-3;
    box-shadow:
      rgba($accent-2, 10%) 0 0 0.5rem,
      inset rgba(0, 0, 0, 0.5) 0 0 1rem;

    padding: fluid-rem(0.5rem, 1rem, 360, 768) 0;

    @media (min-width: 1024px) {
      font-size: fluid-rem(0.9rem, 1rem, 1024, 1920);
    }
  }

  &__message-box {
    border-color: $accent-2;
    box-shadow:
      rgba($accent-2, 25%) 0 0 1rem,
      inset rgba(#000, 50%) 0 0 2rem;
    background: linear-gradient(#1a2328, #233138);
  }
}
