@import "../../../styles/_variables.scss";

.overview {
  .overview-widget__title {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  .overview-widget__label {
    grid-area: 2 / 1 / span 1 / span 1;
  }

  .overview-widget__icon {
    grid-area: 1 / 2 / 3 / 3;
  }
}
