@import "../../../styles/_variables.scss";

.add-glass-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: $space-m;

    &__icon {
        text-align: center;
        flex: 1;
        position: relative;
        display: flex;
        justify-content: center;
    }

    &__image {
        width: 3.3rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__streak {
        margin-top: 0.8rem;
        font-size: 2.5rem;
    }

    &__text {
        font-size: 0.6rem;
        text-align: center;
    }
}

.streak-widget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: $space-m;

    &__title {
        font-size: 0.45rem;
        font-weight: 600;
    }

    &__main {
        display: flex;
        justify-content: center;
        position: relative;
    }
    &__text {
        position: absolute;
        top: 70%;
        left: 50%;
        translate: -50% -70%;
        font-weight: 700;
        font-size: 1.3rem;
    }

    &__icon {
        width: 3rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
