.daily-overview {
  // Mobile defaults
  .streak-widget,
  .add-glass-button {
    aspect-ratio: 1 / 1;
    background: linear-gradient($dark-2, $dark-4);
    border-radius: $rounded-widget;
  }
  .overview {
    grid-area: 1 / 2 / 3 / 3;
  }

  // Tablet/PC overrides
  @media (min-width: 768px) {
    display: block; // Stop being a complex grid

    .overview {
      grid-area: unset;
      width: 100%;
      height: 100%;
      min-height: fluid(300, 400); // Using your fluid function
    }
  }
}

// Battery Vertical Specifics
.battery-v {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  &__fill {
    transition: height 1s ease-out;
    box-shadow: 0 0 20px rgba(0, 245, 212, 0.4);
  }
}
