.daily-overview {
  .streak-widget,
  .add-glass-button {
    aspect-ratio: 1 / 1;
    flex: 1;
  }

  .overview {
    grid-area: 1 / 2 / 3 / 3;
  }

  & > div {
    position: relative;
    background: linear-gradient($dark-2, $dark-4);
    border-radius: clamp(1.375rem, 1.254rem + 0.518vw, 1.875rem);

    &::before {
      content: "";
      position: absolute;
      inset: -1px;
      background: linear-gradient(
        45deg,
        $border-gradient-1,
        $border-gradient-2
      );
      z-index: -1;
      border-radius: 1.55rem;
      padding: 1px;
    }
  }
}
