@import "../../../styles/_variables.scss";

.routine {
  padding: $space-xl $space-xl $space-m;

  &__tasks {
    & > div {
    }

    .routine__check {
      width: clamp(0.4rem, 2.3vw, 1rem);
      height: clamp(0.4rem, 2.3vw, 1rem);
      border: 1px #fff solid;
    }
  }

  &__progress .routine__square--checked {
    background: $accent-2;
    box-shadow: rgba($accent-2, 25%) 0 0 0.7rem;
  }
}
