.routine {
  padding: fluid-rem(0.6rem, 1.2rem, 360, 1024);
  background: linear-gradient($dark-2, $dark-4);
  position: relative;

  .widget-header {
    margin-top: 0.25rem;
  }

  @media (min-width: 1024px) {
    padding: fluid-rem(1rem, 1.2rem, 1024, 1920);
  }

  &__tasks {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
    .routine__check {
      width: fluid-rem(0.5rem, 1.5rem, 360, 768);
      height: fluid-rem(0.5rem, 1.5rem, 360, 768);
      border: fluid-rem(0.0625rem, 0.2rem, 360, 768) #fff solid;

      @media (min-width: 768px) {
        width: fluid-rem(0.9rem, 0.5rem, 768, 1920);
        height: fluid-rem(0.9rem, 0.5rem, 768, 1920);
        border: fluid-rem(0.0625rem, 0.2rem, 768, 1920) #fff solid;
      }
    }
  }

  &__text {
    font-size: fluid-rem(0.7rem, 1.5rem, 360, 768);

    @media (min-width: 600px) {
      font-weight: 600;
    }

    @media (min-width: 768px) {
      font-size: fluid(13, 20, 768, 1024);
      font-weight: normal;
    }

    @media (min-width: 1024px) {
      font-size: fluid(13, 16, 1024, 1920);
    }
  }

  &__info {
    font-size: fluid-rem(0.4rem, 1rem, 360, 768);
    @media (min-width: 768px) {
      font-size: fluid-rem(0.6rem, 1rem, 768, 1920);
    }
  }

  &__progress .routine__square--checked {
    background: $accent-2;
    box-shadow: rgba($accent-2, 25%) 0 0 0.7rem;
  }

  &__square {
    border-radius: fluid-rem(0.3rem, 1rem);
    height: fluid-rem(1rem, 2rem, 360, 728);
  }

  .progress-bar {
    height: fluid-rem(1rem, 1rem, 728, 1920);
  }
}
