.routine {
  padding: $space-xl $space-xl $space-m;

  &__tasks {
    .routine__check {
      width: clamp(0.4rem, 2.3vw, 1rem);
      height: clamp(0.4rem, 2.3vw, 1rem);
      border: 1px #fff solid;
    }
  }

  &__text {
    font-size: clamp(0.75rem, 0.689rem + 0.259vw, 1rem);
  }

  &__info {
    font-size: clamp(0.5rem, 0.409rem + 0.388vw, 0.875rem);
  }

  &__progress .routine__square--checked {
    background: $accent-2;
    box-shadow: rgba($accent-2, 25%) 0 0 0.7rem;
  }
}
