@import "../../../styles/_variables.scss";

.weather-widget {
  grid-area: 1 / 1 / 3 / 2;
  background: url("../../../assets/images/weather-cold.jpg") center center
    no-repeat;
  background-size: cover;
  padding: $space-xl $space-l $space-l;
  border: $dark-2 2px solid;
  box-shadow: inset rgba(#000, 50%) 0 0 1.4rem;

  &__condition {
    grid-area: 2 / 1 / 3 / 2;
  }

  &__weather-icon {
    grid-area: 1 / 2 / 3 / 3;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $space-s;

    p {
      margin: 0;
    }

    .weather-widget__label {
      font-size: 0.6rem;
      opacity: 60%;
    }

    .weather-widget__value {
      font-size: 1.2rem;
      font-weight: 600;
      .weather-widget__unit {
        font-size: 0.7rem;
      }
    }
  }

  &__quote {
    background: rgba(#525252, 10%);
    border: rgba(#fff, 13%) 1px solid;
  }
}
