@import "../../../styles/_variables.scss";

.weather-widget {
  grid-area: 1 / 1 / 3 / 2;
  background: url("../../../assets/images/weather-cold.jpg") center center
    no-repeat;
  background-size: cover;
  padding: $space-xl $space-l $space-l;
  border: $dark-2 2px solid;
  box-shadow: inset rgba(#000, 50%) 0 0 1.4rem;

  &__condition {
    grid-area: 2 / 1 / 3 / 2;
    font-size: clamp(1rem, 0.697rem + 1.294vw, 2.25rem);
  }

  &__location-text {
    font-size: clamp(0.688rem, 0.551rem + 0.583vw, 1.25rem);
  }

  &__location-icon {
    width: clamp(0.625rem, 0.458rem + 0.712vw, 1.313rem);
  }

  &__weather-icon {
    grid-area: 1 / 2 / 3 / 3;
    width: clamp(2.125rem, 1.473rem + 2.783vw, 4.813rem);
  }

  &__temperature {
    font-size: clamp(4.375rem, 4.223rem + 0.647vw, 5rem);
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $space-s;

    p {
      margin: 0;
    }

    .weather-widget__label {
      font-size: 0.6rem;
      opacity: 60%;
    }

    .weather-widget__value {
      font-size: 1.2rem;
      font-weight: 600;
      .weather-widget__unit {
        font-size: 0.7rem;
      }
    }
  }

  &__quote {
    background: rgba(#525252, 10%);
    border: rgba(#fff, 13%) 1px solid;
  }
}
