.weather-widget {
  grid-area: 1 / 1 / 3 / 2;
  background: url("../../../assets/images/weather-cold.jpg") center center
    no-repeat;
  background-size: cover;
  padding: fluid-rem(0.6rem, 1rem, 360, 768);
  @media (min-width: 768px) {
    padding: fluid-rem(0.8rem, 2rem, 768, 1920)
      fluid-rem(0.8rem, 1rem, 768, 1920);
    padding-top: 1rem;
  }
  border: $dark-2 2px solid;
  box-shadow: inset rgba(#000, 50%) 0 0 1.4rem;

  @media (min-width: 1024px) {
  }

  @media (min-width: 768px) {
    grid-area: auto;
  }

  &__condition {
    grid-area: 2 / 1 / 3 / 2;
    font-size: fluid-rem(1.1rem, 2.25rem, 350, 768);
    @media (min-width: 768px) {
      font-size: fluid(20, 36, 768, 1920);
    }
  }

  &__location-text {
    font-size: fluid-rem(0.5rem, 1.3rem, 350, 768);
    @media (min-width: 768px) {
      font-size: fluid(12, 20, 768, 1920);
    }
  }

  &__location-icon {
    width: fluid-rem(0.5rem, 1rem, 350, 768);
    @media (min-width: 768px) {
      width: fluid(12, 20, 768, 1920);
    }
  }

  &__weather-icon {
    grid-area: 1 / 2 / 3 / 3;
    width: fluid-rem(1.5rem, 4rem, 350, 768);
    @media (min-width: 768px) {
      width: fluid(42, 77, 768, 1920);
    }
  }

  &__temperature {
    font-size: fluid-rem(3.5rem, 8rem, 350, 768);
    @media (min-width: 768px) {
      font-size: fluid(80, 128, 768, 1920);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $space-s;

    .weather-widget__label {
      margin: 0;
      opacity: 60%;
      font-size: fluid-rem(0.5rem, 1.1rem, 350, 768);
      @media (min-width: 768px) {
        font-size: fluid(9, 16, 768, 1920);
      }
    }

    .weather-widget__value {
      font-size: fluid-rem(1.1rem, 3rem, 350, 768);
      @media (min-width: 768px) {
        font-size: fluid(20, 40, 768, 1920);
      }

      font-weight: 600;
      .weather-widget__unit {
        font-size: fluid-rem(0.7rem, 1.5rem, 350, 768);
        @media (min-width: 768px) {
          font-size: fluid(12, 16, 768, 1920);
        }
      }
    }
  }

  &__quote {
    background: rgba(#525252, 10%);
    border: rgba(#fff, 13%) 1px solid;
    font-size: fluid-rem(0.55rem, 1.2rem, 350, 768);
    @media (min-width: 768px) {
      font-size: fluid(12, 20, 768, 1920);
    }
  }
}
