@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.insight {
  &__inner {
    background: linear-gradient($dark-2, $dark-4);
    border-radius: clamp(1.375rem, 1.254rem + 0.518vw, 1.875rem);
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    inset: -1px;
    background: conic-gradient(
      from var(--angle),
      $accent-1,
      $accent-1-gradient-blue,
      $accent-1-gradient-blue,
      $accent-1
    );
    z-index: -1;
    padding: 1px;
    border-radius: clamp(1.375rem, 1.254rem + 0.518vw, 1.875rem);
    animation: 3s spin linear infinite;
  }

  &::before {
    filter: blur(0.5rem);
    opacity: 30%;
  }

  &__body {
    background: linear-gradient(135deg, $dark-3 26%, #111e25 100%);
    box-shadow:
      rgba(#000, 10%) 0 0 0.7rem,
      inset rgba(#000, 25%) 0 0 1.2rem;
  }

  &__main-text {
    font-size: fluid(12, 22);

    @media (min-width: 1024px) {
      font-size: fluid(12, 22, 1024, 1920);
    }
  }

  &__advice {
    font-size: fluid(10, 11);
    @media (min-width: 1024px) {
      font-size: fluid(10, 14, 1024, 1920);
    }
  }

  &__footer {
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $space-s;

      .insight__footer-icon {
        width: fluid(8, 15);

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .insight__footer-text {
        font-size: fluid(8, 13);
        font-weight: 600;
        margin-bottom: $space-xs;
        @media (min-width: 1024px) {
          font-size: fluid(8, 13, 1024, 1920);
        }
      }
    }
  }
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
