@import "../../../styles/_variables.scss";

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.insight {
    position: relative;
    z-index: 0;
    margin: $space-l 0;

    &__inner {
        background: linear-gradient($dark-2, $dark-4);
        position: relative;
        padding: $space-s $space-xl;
        border-radius: 1.5rem;
    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        inset: -1px;
        background: conic-gradient(
            from var(--angle),
            $accent-1,
            $accent-1-gradient-blue,
            $accent-1-gradient-blue,
            $accent-1
        );
        z-index: -1;
        padding: 1px;
        border-radius: 1.5rem;
        animation: 3s spin linear infinite;
    }

    &::before {
        filter: blur(0.5rem);
        opacity: 30%;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .insight__icon {
            width: 1.8rem;
            height: 1.8rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &__body {
        font-size: 0.75rem;
        padding: $space-l;
        background: linear-gradient(135deg, $dark-3 26%, #111e25 100%);
        border-radius: 1rem;
        box-shadow: rgba(#000, 10%) 0 0 0.7rem, inset rgba(#000, 25%) 0 0 1.2rem;

        .insight__main-text {
            font-weight: 600;
            line-height: 1.3;
        }

        .insight__advices {
            margin-top: $space-s;
            display: flex;
            flex-direction: column;
            gap: $space-xs;

            .insight__advice {
                display: flex;
                align-items: center;
                gap: $space-s;
                font-size: 0.63rem;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: $space-l 0;
        padding: 0 $space-l;

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: $space-s;

            .insight__footer-icon {
                width: 0.7rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .insight__footer-text {
                font-size: 0.5rem;
                font-weight: 600;
                margin-bottom: $space-xs;
            }
        }
    }
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}
